body {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu main main main main main'
        'menu main main main main main'
        'footer footer footer footer footer footer';
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    font-family: "Lato", sans-serif;
}

header {
    background: rgb(96, 150, 251);
    grid-area: header;
    height:fit-content;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    display: block;
    padding: 8px;
    float: right;
}

header ul li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header ul li img {
    width: 16px;
    height: 16px;
    background: gray;
}
header ul li:has(> button)  {
    float: left; 
}

footer {
    background: rgb(3, 150, 20);
    grid-area: footer;
    color: aliceblue;
    text-align: center;
    padding-top: 8px;
    height: 40px;
}
footer img{
    height: 25px;
}