:root {
    --wincom-gray: rgb(192, 192, 192);
    --wincom-white: rgb(230, 230, 230);
}

* {
    font-family: sans-serif;
}

.bg-wincom-gray {
    background-color: var(--wincom-gray);
}

.bg-wincom-white {
    background-color: var(--wincom-white);
}
.carousel-inner {
    margin-left: 40%;
    max-width: 450px;
    overflow: hidden;
}
.carousel-item:has(>img){
    
    max-width: 350px;

}